h1 {
    border: 2px solid yellow;
    padding: 30px;
}

body {
    background-image: url('../Images/Open_horizon.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

ul {
    list-style-type: disc;
}