attrs==26.1.0
certifi==2026.5.20
charset-normalizer==3.4.7
idna==3.17
isodate==0.7.2
lxml==6.1.1
platformdirs==4.10.0
pytz==2026.2
requests==2.34.2
requests-file==3.0.1
requests-toolbelt==1.0.0
spyne==2.14.0
urllib3==2.7.0
zeep==4.3.2
